body {
    display:flex;
    justify-content: center;
}
.container{
    margin-top: 30px;
    width: 300px;
    position: absolute;
    border: 15px solid rgb(192, 23, 192);
    background-color: purple;
    color: whitesmoke;
}

#length {
    margin-top: 10px;
    width: 30px;
    margin-left: 135px;
    background-color: rgb(192, 23, 192);
    color: whitesmoke;
}

#input{
    width: 290px;
    background-color: rgb(192, 23, 192);
    color: whitesmoke;
}
.row3{
    margin-top: 10px;
}

#uppercase{
    margin-left: 100px;
}
#lowercase{
    margin-left: 100px;
}
#numbers{
    margin-left: 152.1px;
}
#symbols{
    margin-left: 153.5px;
}
.row4{
    margin-top: 10px;
}

.row5{
    margin-top: 10px;
}

.row6{
    margin-top: 10px;
}

#button{
    width: 300px;
    margin-top: 25px;
    background-color: rgb(192, 23, 192);
    color: whitesmoke;
}

h3{
    margin-top: 600px;
}