.col-8{
    color: whitesmoke;
}
h2{
    color:whitesmoke;
}
h4{
    color:whitesmoke;
}
font-color {
    color: white;
    z-index: index 200;;
  }
  
  .container {
    border: 5px solid rgb(228, 25, 25);
  }
  
  span {
    font-size: 10px;
  }
  h2 {
    margin-bottom: 0;
  }
  
  .left-border {
    border-left: 5px solid gray;
  }
  
  .bg-dark {
    background-color: dimgray;
    z-index: -100;
  }
  
  .danger-color {
    background-color: red;
  }
  
  .red-color {
    color: rgb(199, 27, 27);
  }
  
  .flex-class {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  input {
    padding: 5px;
    border-style: none;
    background-color: rgba(243, 188, 188, 0.404);
  }
  
  .bg-light {
    border-left-color: rgb(128, 126, 126);
  }
  .bttn1 {
    background-color: rgb(172, 92, 209);
  }
  
  .bttn1:hover {
    background-color: rgba(45, 75, 243, 0.87);
  }
  
  img {
    height: 100px;
    width: 200px;
   border:solid;
   border-width: 1px;
   border: grey;
  }